services:
  db:
    image: postgres:16
    container_name: fundacion_db
    env_file: .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
    - "55432:5432"


  web:
    build:
      context: .
      dockerfile: docker/django/Dockerfile
    container_name: fundacion_web
    env_file: .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
    - ./src:/app/src
    command: python src/manage.py runserver 0.0.0.0:8000

volumes:
  postgres_data:
