{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Sistema Fundación{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>

  <header class="topbar">
    <div class="topbar-left">
      <div class="brand">
        <span class="brand-badge">SYS</span>
        <div class="brand-text">
          <div class="brand-title">Sistema ADM</div>
          <div class="brand-subtitle">Fundacion Natura Bolivia</div>
        </div>
      </div>
    </div>

     <div class="topbar-center">
      {% if user.is_authenticated %}
        <div class="searchbox">
          <span class="searchicon">🔎</span>
          <input type="text" placeholder="Buscar..." />
        </div>
      {% endif %}
    </div>


    <div class="topbar-right">
      {% if user.is_authenticated %}
        <div class="userchip">
          <span class="userdot"></span>
          <span class="username">{{ user.get_full_name|default:user.username }}</span>
        </div>

        <form method="post" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button class="linkbtn" type="submit">Salir</button>
        </form>
      {% endif %}
    </div>
  </header>
  <div class="layout">
    {% if user.is_authenticated %}
      <aside class="sidebar">
        <nav class="nav">
          <a class="nav-link" href="{% url 'home' %}">🏠 Dashboard</a>
          <a class="nav-link" href="{% url 'cc_list' %}">📄 Cuadros comparativos</a>
          <a class="nav-link" href="{% url 'op_list' %}">💳 Órdenes de pago</a>
          <a class="nav-link" href="{% url 'provider_list' %}">🏭 Proveedores</a>
          <a class="nav-link" href="/admin/">⚙️ Administración</a>
        </nav>

        <div class="sidebar-footer">
          <div class="small muted">{{ user.get_full_name|default:user.username }}</div>
          <div class="small muted">Sesión activa</div>

          <div class="mt-sm">
            <a class="nav-link" href="{% url 'password_change' %}">🔒 Cambiar contraseña</a>
          </div>
        </div>
      </aside>
    {% endif %}

    <main class="content {% if not user.is_authenticated %}content-full{% endif %}">
      <div class="container {% if not user.is_authenticated %}auth-container{% endif %}">
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li class="msg {{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% block content %}{% endblock %}
      </div>
    </main>
  </div>


</body>
</html>
