{% extends "base.html" %}
{% block content %}
<div class="card">
  <h2>Editar producto – {{ cc.number }}</h2>
  <p class="muted">Producto actual: <b>{{ item.producto.nombre }}</b></p>

  <form method="post">
    {% csrf_token %}
    <div style="margin-top:10px;">
      {{ form.as_p }}
    </div>

    <div style="margin-top:12px; display:flex; gap:10px; flex-wrap:wrap;">
      <button class="btn" type="submit">💾 Guardar</button>
      <a class="btn" href="{% url 'cc_detail' cc.pk %}">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
