{% extends "base.html" %}
{% block title %}Ingresar{% endblock %}

{% block content %}
<div class="card">
  <h2 class="m0">Ingresar</h2>

  {% if form.errors %}
    <div class="msg error mt-sm">Usuario o contraseña incorrectos.</div>
  {% endif %}

  <form method="post" class="auth-form mt">
    {% csrf_token %}

    <div class="field">
      <label class="label">Usuario</label>
      {{ form.username }}
    </div>

    <div class="field">
      <label class="label">Contraseña</label>
      {{ form.password }}
    </div>

    <button class="btn btn-primary" type="submit">Entrar</button>
  </form>
</div>
{% endblock %}
